@import '../css/normalize.css';
@import "./variables";
@import "./general-styles";

@import '~/node_modules/bootstrap/scss/bootstrap.scss';


.color-primary {
  color: var(--text-color-primary);
}

.bg-primary {
  background-color: var(--bg-color-primary) !important;
}

.bg-secondary {
  background-color: var(--bg-color-secondary) !important;
}

.bg-text-button {
  background-color: var(--color-button) !important;
  color: #ffffff;
}
