.theme-dark {
  --text-color-primary: #ffffff;
  --badge-color: #C4C5CE;
  --color-link: #ffffffc6;
  --color-button: #EB1918;
  --color-hover-button: #C61717;
  --bg-color-primary: #262A34;
  --bg-color-secondary:  #2B2F39;
}

.theme-light {
  --text-color-primary: #020F21;
  --badge-color: #393A3F;
  --color-link: #09003d;
  --color-button: #0D2437;
  --color-hover-button: #0a1a28;
  --bg-color-primary: #D1F5FF;
  --bg-color-secondary:  #B6E8F5;
}
